<manage-todo on-add="$ctrl.addTodoHandler()"
             on-update="$ctrl.updateTodoHandler($ctrl.activeTodo)"
             active-todo="$ctrl.activeTodo"></manage-todo>
<hr>
{{$ctrl.activeTodo}}
<hr>

<div class="row">
    <div class="col-sm">
        <h3>Incomplete</h3>
        <div class="todos-list todo-list-uncompleted">
            <todo-item ng-repeat="todoItem in $ctrl.todosIncompleted | orderBy:'-date'"
                       todo="todoItem"
                       edit-handler="$ctrl.editTodo(todoItem)"
                       complete-handler="$ctrl.completeTodo(todoItem.id)"></todo-item>
        </div>
    </div>
    <div class="col-sm">
        <h3>Completed</h3>
        <div class="todos-list todo-list-completed">
            <todo-item ng-repeat="todoItem in $ctrl.todosCompleted"
                       todo="todoItem"
                       complete-handler="$ctrl.completeTodo(todoItem.id)"></todo-item>
        </div>
    </div>
</div>
