

<div class="card">
    <div class="card-body text-center">
        Start new day with <a ui-sref="todo.addTodo" class="btn btn-primary">Add todo</a>
    </div>
</div>
<!--<manage-todo on-add="$ctrl.addTodoHandler"
             on-update="$ctrl.updateTodoHandler"
             active-todo="$ctrl.activeTodo"></manage-todo>
-->
<hr>

<filter-todo filter-by-text="$ctrl.textFilter" filter-by-date="$ctrl.dateFilter"></filter-todo>

<hr>

<div class="row">
    <div class="col-sm">
        <h5>Incomplete</h5>
        <div class="todos-list todo-list-uncompleted">
            <todo-item
                    ng-repeat="todoItem in $ctrl.todosActive | startsWith:$ctrl.textFilter:'text' | dateRange:$ctrl.dateFilter:'date' | orderBy:'-date'"
                       todo="todoItem"
                       edit-handler="$ctrl.editTodo(todoItem)"
                       complete-handler="$ctrl.completeTodo(todoItem.id)"></todo-item>
        </div>
    </div>
    <div class="col-sm">
        <h5>Completed</h5>
        <div class="todos-list todo-list-completed">
            <todo-item ng-repeat="todoItem in $ctrl.todosCompleted | orderBy:'-date'"
                       todo="todoItem"
                       complete-handler="$ctrl.completeTodo(todoItem.id)"></todo-item>
        </div>
    </div>
</div>
