{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "amd": true
  },
  "globals": {
    "process": true,
    "window": true,
    "document": true,
    "fetch": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "comma-dangle": 0,
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "linebreak-style": ["error", "windows"]
  }
}

// "linebreak-style": ["error", "windows"]
