{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jest/recommended"
  ],
  "env": {
    "amd": true
  },
  "globals": {
    "process": true,
    "window": true,
    "document": true,
    "fetch": true
  },
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "import/prefer-default-export": "off",
    "comma-dangle": 0,
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "linebreak-style": ["error", "windows"]
  },
  "plugins": ["jest"]
}
