<header class="header">
    <div class="jumbotron">
        <div class="container">
            <h1 class="logo display-3"><a ui-sref="todo.list" class="logo-link">Todo App</a></h1>
            <p>Welcome to out new amazing todo app. Use it as a starting point to create something special today.</p>
        </div>
    </div>
</header>

<main class="main">
    <div class="container app">
        <ui-view></ui-view>
    </div>
</main>
<hr>
<footer class="footer">
    <div class="container">
        <p class="text-center">2018 @ All rights reserved.</p>
    </div>
</footer>