extends layout

block content
    center
        h1 Node.js, Express.js, Mongoose.js and Passport.js
        p
            img(src="https://cs6.pikabu.ru/images/big_size_comm/2015-01_6/14223603619480.jpg" alt="Какие ваши доказательства")