/** ************************************************************************************************************
    Footer styles
 */
#footer {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  padding: 1rem 0;

  .copyright {
    font-size: 0.75rem;
    text-align: center;
    color: rgb(150, 150, 150);
    margin: 0;
    padding: 5px;

    a {
      color: rgb(120, 120, 120);
    }
  }
}
