<div class="card">
    <div class="card-body">
        <form name="filterForm" novalidate class="filterForm">
            <div class="form-row">

                <div class="col-1">
                    <input type="text"
                           ng-model="$ctrl.filterByText"
                           maxlength="1"
                           class="form-control filter-text"/>
                </div>

                <div class="col-6">
                    <div class="row">

                        <div class="col-md-6">

                            <div class="input-group mb-3">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{$ctrl.datePickerOptions.format}}"
                                       ng-model="$ctrl.filterByDate.from"
                                       is-open="$ctrl.calendars.from.opened"
                                       datepicker-options="$ctrl.datePickerOptions.dateOptions"
                                       close-text="Close"
                                       alt-input-formats="$ctrl.datePickerOptions.altInputFormats"/>

                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary"
                                            type="button"
                                            ng-click="$ctrl.toggleCalendar('from')">
                                        <img src="assets/calendar.svg" class="calendar-icon"/>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="input-group mb-3">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{$ctrl.datePickerOptions.format}}"
                                       ng-model="$ctrl.filterByDate.to"
                                       is-open="$ctrl.calendars.to.opened"
                                       datepicker-options="$ctrl.datePickerOptions.dateOptions"
                                       close-text="Close"
                                       alt-input-formats="$ctrl.datePickerOptions.altInputFormats"/>

                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary"
                                            type="button"
                                            ng-click="$ctrl.toggleCalendar('to')">
                                        <img src="assets/calendar.svg" class="calendar-icon"/>
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col">
                    <button class="btn btn-light"
                            ng-click="$ctrl.resetFilter()">Reset Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>