/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&subset=cyrillic');

/* General Variables */
$font-accent: 'Montserrat', Arial, sans-serif;

/* GENERAL */
html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.6rem;
}
