<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <span ng-if="$ctrl.activeTodo">Update todo</span>
            <span ng-if="!$ctrl.activeTodo">Add todo</span>
        </h5>
        <form name="manageTodoForm" novalidate ng-submit="$ctrl.submitHandler()" class="manageTodoForm">
            <div class="form-row">
                <div class="col">
                    <input type="text"
                           name="todoText"
                           ng-model="$ctrl.todo.text"
                           class="form-control required"
                           placeholder="Todo description"
                           required
                           minimal-length="20"/>
                    <div class="validation-message"
                         ng-show="manageTodoForm.todoText.$touched && manageTodoForm.todoText.$invalid">The todo text is required.</div>

                    <div class="validation-message"
                         ng-show="manageTodoForm.todoText.$dirty && manageTodoForm.todoText.$invalid" ng-message="minimal-length">
                        Your name is too short!
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary" ng-disabled="!manageTodoForm.todoText.$valid">
                        <span ng-if="$ctrl.activeTodo">Update</span>
                        <span ng-if="!$ctrl.activeTodo">Add</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>