/** ************************************************************************************************************
    APP Variables
*/

$main-background-color: #f5f7f8;
$header-height: 85px;
$header-background-color: #000;
$header-menu-size: 25px;
$logo-text-color: #e74c3c;
$logo-text-color-alt: yellow;
$logo-background-alt: #efbc11;

$loader-size: 5rem;

$aside-width: 250px;
$aside-background: #2c3e50;
$aside-background-hover: #34495e;
$aside-link-color: #ecf0f1;

$error-message-background: #e74c3c;
$error-message-text: white;

$date-label-background: #c0392b;
