.app {
}

.app-header {
    margin: 20px 0;
    background-color: $white;
}

.app-title {
    font-family: $accent-font;
    font-weight: 900;
    font-size: 4.8rem;

    margin: 0;
    border: 0;
    outline: none;

    background: -webkit-linear-gradient(#ff070b, #e5008d, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app-slogan {
    font-size: large;
    color: #aaa;
}

/* APP FOOTER */
.app-footer {
    background-color: $white;
    padding: 20px;
    border-radius: $default-border-radius;
    margin-bottom: 20px;
    color: $font-dimed;
    text-align: center;

}