.todos-list {

    .todo {
        margin-bottom: 10px;
    }

    &.todo-list-uncompleted {
        .todo .card-title {
            font-size: 1.4rem;
        }
    }

    &.todo-list-completed {
        .todo {
            background-color: #eee;

            .card-title {
                font-size: 1.4rem;
                color: #ccc;
                text-decoration: line-through;
                margin: 0;
            }
        }
    }
}
.uib-daypicker {
    outline: none;
}
.calendar-icon {
    width: 16px;
    position: relative;
    top: -2px;
}