/** ************************************************************************************************************
    APP Variables
*/
$main-font: 'Roboto', Arial, Helvetica, sans-serif;
$accent-font: 'Montserrat', Arial, Helvetica, sans-serif;

$main-background-color: #ECF0F1;
$white: #fff;

$font-dimed: #aaa;

$default-border-radius: 5px;